.main-info-header-class {
    text-align: center;
    font-size: 200%;
    background: rgba(25, 25, 112, 0.5);
    color: white;
}

.main-info-text-class {
    text-align: center;
    font-size: 120%;
    color: white;
    background: rgba(25, 25, 112, 0.653);
    margin-left: 20%;
    margin-right: 20%;
}