.same-line-bars-ten div {
    display: inline-block;
    background: rgb(71, 242, 248);
    border: 2px solid rgb(255, 48, 169);
    margin-right: 2px;
    margin-left: 2px;
    width: 10%;
}
  
.same-line-bars-twenty div {
  display: inline-block;
  background: rgb(71, 242, 248);
  border: 2px solid rgb(255, 48, 169);
  margin-right: 2px;
  margin-left: 2px;
  width: 5%;
}

.same-line-bars-fifty div {
  display: inline-block;
  background: rgb(71, 242, 248);
  border: 1px solid rgb(255, 48, 169);
  margin-right: 1px;
  margin-left: 1px;
  width: 2%;
}

.same-line-bars-hundred div{
  display: inline-block;
  background: rgb(71, 242, 248);
  border: 1px solid rgb(255, 48, 169);
  margin-right: 1px;
  margin-left: 1px;
  width: 1%;
}

.outer-box {
  height: 500px;
  background-color: black;
  display: flex;
  align-items: flex-end;
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 5px;
  border: 2px solid rgb(255, 48, 169);
}
